<section>
    <img alt="background image"> 
    <section>
        <img alt="player two">
        <div>
            <img alt="attack/defend gif">
        </div>
        <img alt="player one">
    </section>
    <section aria-details="upper section">
        <section aria-details="card section">
            {{#each enemycard}}
            <img data-defense="{{defense}}" data-strength="{{strength}}" src="{{src}}">
            {{/each}}
        </section>
        <section aria-details="below cards"  >
            <div>
                <img alt="played enemy card">
            </div>
        </section>
        <section aria-details="lower section">
            <section id="playerSelectedCard">
                <img alt="player played card">
            </section>
            <section id="playerCards">
                {{#each playercard}}
                <img data-defense="{{defense}}" data-strength="{{strength}}" src="{{src}}">
                {{/each}}
            </section>
            <section>
                <h1 id="turnTitle">Your Turn</h1>
                <div id="buttonSection">
                    <button id="attackButton">Attack</button>
                    <button id="defenseButton">Defend</button>
                    <button id="skipButton">Skip</button>
                </div>
            </section>
        </section>
    </section>
</section>